.header
  border: 0px solid red
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 124px
.nav
  color: $light
  &__link
    color: $light
    &--main
      line-height: 1.16rem
    &--secondary
      color: $second  
      line-height: 1.16rem
  
