.header
  border: 0px solid red
  max-width: 1230px
  width: 90%
  margin: auto
  display: flex
  justify-content: space-between
  align-items: center
.nav
  font-size: 1em
  line-height: 1.16em
  &__link
    &--main
      color: $light
    &--secondary
      color: $second  
  
